.page-div {
    width: 100%;
}
.carousel {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: lightgray;
}

.carousel-img{
    width: 100%; 
    height: 300px;
    object-fit: contain;
}