.mainmenu-container {
  width: 100%;
}

.mainmenu-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}

.mainmenu-container__item {
  margin-right: 10px;
  margin-bottom: 10px;
}

